{% extends "_layout.html" %}
{% from "_helpers.html" import render_per with context %}
{% block title %} Personajes {% endblock %}

{% block content %}
    {% if personajes %}
        <h2>Personajes</h2>
        <table>
            <thead>
                <th>Nombre</th>
                <th>Película</th>
                <th>Virtud</th>
            </thead>
            <tbody>
                {% for per in personajes%}
                   {{render_per(per)}}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Sin personajes</h1>
    {% endif %}
{% endblock %}
