{% extends "_layout.html" %}
{% block title %} Personajes {% endblock %}

{% block content %}
    {% if personajes %}
        <h2>Personajes</h2>
        <table>
            <thead>
                <th>Nombre</th>
                <th>Película</th>
                <th>Virtud</th>
            </thead>
            <tbody>
                {% for per in personajes%}
                    <tr>
                        <td>{{per.nombre}}</td>
                        <td>{{per.pelicula}}</td>
                        <td>{{per.get_virtud()}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Sin personajes</h1>
    {% endif %}
{% endblock %}
